* {
    text-align: center;
}

table {
    border-collapse: colllapse;
    margin: 10px auto;
    width: 75%;
}

td {
    padding: 1rem;
}

th {
    padding: 50px;
    font-size: 24px;
}

td, th {
    border: 1px solid black;
}